.container {
    background: rgb(239, 247, 224);
    max-width: 36rem;
    margin: 0 auto 6rem;
    min-height: 90vh;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bar {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    width: 100%;
}

.mt2 {
    margin-top: 2rem;
}
.nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.listItem {
    margin-right: 1rem;
}
.link {
    color: rgb(23, 45, 82);
    padding: 0 0 .25rem;
}
.link:hover {
    border-bottom: 2px solid rgb(23, 45, 82);
    font-weight: 700;
}
.pad2 {
    padding: 2rem;
}

