html,
body {
    background-color: darkblue;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Cantarell, FiraSans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
    color: rgb(23, 45, 82);
}

* {
    box-sizing:border-box;
}

a {
    color: #0070f3;
    text-decoration:none;
}

a:hover {
    border-bottom: 1px solid ;
}

img {
    max-width: 100%;
    display: block;
    object-fit: contain;
}

.backToHome {
    margin: 3rem 0 0;
}

p {
    margin-bottom: 1rem;
}
.smallp {
    max-width: 25ch;
    margin: 0 auto 1rem;
}